@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<h1>Are You Sure You Want To Delete This Employee</h1>
<br />
<br />

<form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <partial name="PartialViews/DetailsEditPartial"></partial>

    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
